asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.7
django-cors-headers==3.4.0
django-heroku==0.3.1
djangorestframework==3.11.0
filelock==3.0.12
future==0.18.2
gdown==3.11.1
idna==2.9
imageio==2.8.0
kiwisolver==1.2.0
matplotlib==3.2.2
networkx==2.4
numpy==1.19.0
Pillow==7.1.2
psycopg2==2.8.5
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.24.0
scikit-image==0.17.2
scipy==1.5.0
six==1.15.0
sqlparse==0.3.1
tifffile==2020.6.3
torch==1.5.1
torchvision==0.6.1
tqdm==4.46.1
urllib3==1.25.9
whitenoise==5.1.0
